[user]
	email = christian.brevik@gmail.com
	name = Christian Brevik
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[alias]
	fixup = commit --amend --no-edit
[core]
	excludesfile = ~/.dotfiles/.gitignore_global
[init]
	defaultBranch = main
[pull]
	ff = only
[url "git@github.com:"]
        insteadOf = https://github.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
